In [1]:
import pandas as pd

In [3]:
people = {
    "first":["Corey", "musab", 'Ahmad'],
    "last" : ["Schexx", "pirzada", "khan"],
    "email" : ["corey@gmail.com", "musab@gmail.com", "ahmad@gmail.com"]
}

In [4]:
df = pd.DataFrame(people)
df

   first     last            email
0  Corey   Schexx  corey@gmail.com
1  musab  pirzada  musab@gmail.com
2  Ahmad     khan  ahmad@gmail.com

In [5]:
df['email']

0    corey@gmail.com
1    musab@gmail.com
2    ahmad@gmail.com
Name: email, dtype: object

In [6]:
type(df['email'])

pandas.core.series.Series

In [7]:
df.email #dot notation

0    corey@gmail.com
1    musab@gmail.com
2    ahmad@gmail.com
Name: email, dtype: object

In [8]:
df[['last', 'email']]

      last            email
0   Schexx  corey@gmail.com
1  pirzada  musab@gmail.com
2     khan  ahmad@gmail.com

In [9]:
df['last', 'email']

KeyError: ignored

In [10]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [11]:
df.iloc[0] #for accessing rows

first              Corey
last              Schexx
email    corey@gmail.com
Name: 0, dtype: object

In [12]:
df.iloc[[0,1]] #for accessing multiple rows

   first     last            email
0  Corey   Schexx  corey@gmail.com
1  musab  pirzada  musab@gmail.com

In [13]:
df.iloc[[0,2], 2] #first is row and second is column

0    corey@gmail.com
2    ahmad@gmail.com
Name: email, dtype: object

In [14]:
df.loc[0]

first              Corey
last              Schexx
email    corey@gmail.com
Name: 0, dtype: object

In [15]:
df.loc[[0,1],'email']

0    corey@gmail.com
1    musab@gmail.com
Name: email, dtype: object

In [16]:
df.loc[[0,1],['email','last']]

             email     last
0  corey@gmail.com   Schexx
1  musab@gmail.com  pirzada

In [18]:
ds = pd.read_csv('survey_results_public.csv')
ds

,ResponseId,MainBranch,Employment,RemoteWork,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,LearnCodeCoursesCert,YearsCode,...,TimeSearching,TimeAnswering,Onboarding,ProfessionalTech,TrueFalse_1,TrueFalse_2,TrueFalse_3,SurveyLength,SurveyEase,ConvertedCompYearly
0,1,None of these,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,I am a developer by profession,"Employed, full-time",Fully remote,Hobby;Contribute to open-source projects,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Difficult,NaN
2,3,"I am not primarily a developer, but I write co...","Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Friend or family member...,Technical documentation;Blogs;Programming Game...,NaN,14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Neither easy nor difficult,40205.0
3,4,I am a developer by profession,"Employed, full-time",Fully remote,I don’t code outside of work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Books / Physical media;School (i.e., Universit...",NaN,NaN,20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,215232.0
4,5,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Stack Overflow;O...,NaN,8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Easy,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
722,723,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby;Contribute to open-source projects,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Other online resources ...,Technical documentation;Blogs;Online challenge...,Other,9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,49908.0
723,724,I am a developer by profession,"Employed, full-time",Fully remote,Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Friend or family member...,How-to videos;Written-based Online Courses;Int...,NaN,12,...,15-30 minutes a day,15-30 minutes a day,Somewhat long,DevOps function;Developer portal or other cent...,Yes,No,Yes,Too short,Neither easy nor difficult,110568.0
724,725,I am a developer by profession,"Employed, full-time",Fully remote,Hobby;Contribute to open-source projects,Some college/university study without earning ...,Books / Physical media;Friend or family member...,Technical documentation;Blogs;Written Tutorial...,NaN,20,...,15-30 minutes a day,15-30 minutes a day,Just right,Continuous integration (CI) and (more often) c...,No,Yes,Yes,Appropriate in length,Neither easy nor difficult,120000.0
725,726,I am learning to code,"Student, full-time",NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Written Tutorial...,NaN,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Neither easy nor difficult,NaN
726,727,I am a developer by profession,"Employed, full-time;Student, full-time;Student...","Hybrid (some remote, some in-person)",Hobby;Contribute to open-source projects;Freel...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Friend or family member...,Technical documentation;Blogs;Programming Game...,Udemy;Codecademy,13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
ds.columns

Index(['ResponseId', 'MainBranch', 'Employment', 'RemoteWork',
       'CodingActivities', 'EdLevel', 'LearnCode', 'LearnCodeOnline',
       'LearnCodeCoursesCert', 'YearsCode', 'YearsCodePro', 'DevType',
       'OrgSize', 'PurchaseInfluence', 'BuyNewTool', 'Country', 'Currency',
       'CompTotal', 'CompFreq', 'LanguageHaveWorkedWith',
       'LanguageWantToWorkWith', 'DatabaseHaveWorkedWith',
       'DatabaseWantToWorkWith', 'PlatformHaveWorkedWith',
       'PlatformWantToWorkWith', 'WebframeHaveWorkedWith',
       'WebframeWantToWorkWith', 'MiscTechHaveWorkedWith',
       'MiscTechWantToWorkWith', 'ToolsTechHaveWorkedWith',
       'ToolsTechWantToWorkWith', 'NEWCollabToolsHaveWorkedWith',
       'NEWCollabToolsWantToWorkWith', 'OpSysProfessional use',
       'OpSysPersonal use', 'VersionControlSystem', 'VCInteraction',
       'VCHostingPersonal use', 'VCHostingProfessional use',
       'OfficeStackAsyncHaveWorkedWith', 'OfficeStackAsyncWantToWorkWith',
       'OfficeStackSyncHaveWorkedWith', 'OfficeStackSyncWantToWorkWith',
       'Blockchain', 'NEWSOSites', 'SOVisitFreq', 'SOAccount', 'SOPartFreq',
       'SOComm', 'Age', 'Gender', 'Trans', 'Sexuality', 'Ethnicity',
       'Accessibility', 'MentalHealth', 'TBranch', 'ICorPM', 'WorkExp',
       'Knowledge_1', 'Knowledge_2', 'Knowledge_3', 'Knowledge_4',
       'Knowledge_5', 'Knowledge_6', 'Knowledge_7', 'Frequency_1',
       'Frequency_2', 'Frequency_3', 'TimeSearching', 'TimeAnswering',
       'Onboarding', 'ProfessionalTech', 'TrueFalse_1', 'TrueFalse_2',
       'TrueFalse_3', 'SurveyLength', 'SurveyEase', 'ConvertedCompYearly'],
      dtype='object')

In [20]:
ds['Employment']

0                                                    NaN
1                                    Employed, full-time
2                                    Employed, full-time
3                                    Employed, full-time
4                                    Employed, full-time
                             ...
722                                  Employed, full-time
723                                  Employed, full-time
724                                  Employed, full-time
725                                   Student, full-time
726    Employed, full-time;Student, full-time;Student...
Name: Employment, Length: 727, dtype: object

In [21]:
ds['Employment'].value_counts()

Employed, full-time                                                                                                                   490
Student, full-time                                                                                                                     55
Independent contractor, freelancer, or self-employed                                                                                   36
Employed, full-time;Independent contractor, freelancer, or self-employed                                                               26
Student, full-time;Employed, part-time                                                                                                 21
Employed, full-time;Student, part-time                                                                                                 14
Not employed, but looking for work                                                                                                     11
Student, part-time;Employed, part-time                                                                                                  9
Employed, full-time;Student, full-time                                                                                                  8
Employed, part-time                                                                                                                     6
Not employed, and not looking for work                                                                                                  6
I prefer not to say                                                                                                                     5
Student, part-time                                                                                                                      4
Retired                                                                                                                                 4
Student, full-time;Not employed, but looking for work                                                                                   4
Student, full-time;Not employed, and not looking for work                                                                               3
Not employed, but looking for work;Independent contractor, freelancer, or self-employed                                                 2
Independent contractor, freelancer, or self-employed;Employed, part-time                                                                2
Student, part-time;Independent contractor, freelancer, or self-employed                                                                 2
Student, full-time;Independent contractor, freelancer, or self-employed                                                                 2
Employed, full-time;Student, part-time;Independent contractor, freelancer, or self-employed                                             1
Student, part-time;Independent contractor, freelancer, or self-employed;Employed, part-time                                             1
Employed, full-time;Independent contractor, freelancer, or self-employed;Employed, part-time                                            1
Independent contractor, freelancer, or self-employed;Retired                                                                            1
Employed, full-time;Student, full-time;Student, part-time;Independent contractor, freelancer, or self-employed;Employed, part-time      1
Name: Employment, dtype: int64

In [22]:
ds.loc[0]

ResponseId                         1
MainBranch             None of these
Employment                       NaN
RemoteWork                       NaN
CodingActivities                 NaN
                           ...
TrueFalse_2                      NaN
TrueFalse_3                      NaN
SurveyLength                     NaN
SurveyEase                       NaN
ConvertedCompYearly              NaN
Name: 0, Length: 79, dtype: object

In [23]:
ds.loc[0:3, 'Employment':'EdLevel']

,Employment,RemoteWork,CodingActivities,EdLevel
0,NaN,NaN,NaN,NaN
1,"Employed, full-time",Fully remote,Hobby;Contribute to open-source projects,NaN
2,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)"
3,"Employed, full-time",Fully remote,I don’t code outside of work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)"